input{
display: inline-block;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
width: 400px;
height: auto;
margin: 10px;
padding: 10px 20px;
border: 1px solid #477aaa;
-webkit-border-radius: 3px;
border-radius: 3px;
font: bold 16px/normal "Times New Roman", Times, serif;
color: rgba(0,142,198,1);
background: rgb(255,255,255);
-webkit-box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.4) ;
box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.4) ;
text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-webkit-transform: none;
transform: none;
-webkit-transform-origin: 50% 50% 0;
transform-origin: 50% 50% 0;
}
#sendNewData{
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: auto;
  height: auto;
  cursor: default;
  margin: 0;
  padding: 10px 20px;
  border: 1px solid #477aaa;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: bold 18px/normal "Times New Roman", Times, serif;
  color: rgba(0,142,198,1);
  background: rgb(255,255,255);
  -webkit-box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.4) ;
  box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.4) ;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-transform: none;
  transform: none;
  -webkit-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
}
#sendNewData:active {
  background-color: #3498db;
}
